<%= render('components/banner') %>
<%= render('components/about') %>
<%= render('seperators/firstSeperator') %>
<!-- Socials to be done later -->
<!-- <div class="socials section">
  <p class="numberHeader">#21</p>
  <p class="textHeader">Socials</p>
</div> -->
<!-- Socials to be done later -->
<%= render('components/races') %>
<%= render('seperators/thirdSeperator') %>
